<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
    </head>
    <body>
        <h1>Add a new user</h1>
        <form action="/users" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" required> 
            <br> 
            <label for="age">Age:</label> 
            <input type="number" name="age"> 
            <br> 
            <label for="Email">Email:</label> 
            <input type="email" name="email"> 
            <br> 
            <button type="submit">Save user</button>
        </form>
    </body>
</html>